<h1><%= @board.name %></h1>
<h2>fields</h2>

<div align="center">
  <div class="board-container">
    <% @board.fields.each do |field| %>
      <% if field.editable %>
        <% if field.value.eql? 0 %>
            <input type="number" class="number-input"/>
        <% else %>
          <input type="number" class="number-input" value="<%= field.value %>"/>
        <% end %>
      <% else %>
        <input type="number" class="number-input" readonly value="<%= field.value %>"/>
      <% end %>
    <% end %>
  </div>
</div>


