.board-container {
  background-color: #333533;
  font-size: 40px;
  display: inline-grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  gap: 5px;
}

.sudoku-field {
  width: 60px;
  height: 60px;
  border: 4px solid #333533;
  border-radius: 10px;
  transition: border-color 0.2s;
  text-align: center;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type=number] {
    -moz-appearance: textfield;
  }
}

.editable-field {
  background-color: #ffdd7d;
  color: #333533;

  &:hover {
    cursor: pointer;
    border-color: #cfdbd5;
  }

  &:focus {
    border-color: #cfdbd5;
  }
}

.non-editable-field {
  background-color: #ffdd7d;
  color: #333533;
}

.background {
  background-color: #333533;
}

.select-name-text {
  margin-top: 30px;
  color: #ffdd7d;
  font-size: 40px;
}

.select-name-field {
  margin-top: 30px;
  font-size: 40px;
  color: #333533;
  width: 500px;
  height: 60px;
  border: 4px solid #ffdd7d;
  border-radius: 10px;
  text-align: center;
}

.select-name-button {
  margin-top: 30px;
  width: 100px;
  height: 40px;
  background-color: #ffdd7d;
  border: 1px solid #333533;
  border-radius: 5px;
}
